body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9e2f1;
    /* padding: 50px; */
    /* text-align: center; */
}

.content {
    padding: 50px;
    /* padding-right: 200px; */
}

.cont {
    padding: 50px;
    /* padding-right: 200px; */
}

/* .btn {
    width: 70px;
    height: 30px;
    color: chartreuse;
}

.bttn {
    width: 80px;
    height: 30px;
    color: brown;
} */



.overview {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ca6c88;
    color: #fff;
    /* border: 1px solid #ca6c88; */
    border-radius: 10px;
    /* -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999; */
}

.SubmitButton {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ca6c88;
    color: #fff;
    /* border: 1px solid #ca6c88; */
    border-radius: 10px;
    /* -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999; */
}

.newClass, .mmButton {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ca6c88;
    color: #fff;
    /* border: 1px solid #ca6c88; */

    border-radius: 10px;

    /* -moz-box-shadow: 6px 6px 5px #999;
    -webkit-box-shadow: 6px 6px 5px #999;
    box-shadow: 6px 6px 5px #999; */
}

.submitting {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 100%;
    background: #ca6c88;
    color: #fff;
/* border: 1px solid #ca6c88; */
    border-radius: 10px;
/* -moz-box-shadow: 6px 6px 5px #999;
-webkit-box-shadow: 6px 6px 5px #999;
box-shadow: 6px 6px 5px #999; */
}





.SubmitButton:hover {
    color: #fff;
    background: #b5617a;
    /* border: 1px solid #fff; */
}

.FirstCategory {
    color: darkblue;
}

.SecondCategory {
    color: crimson;
}

.SubmitForum {
    font-family: Arial, Helvetica, sans-serif;
    /* border-radius: 5px; */
    /* background-color: #f2f2f2; */
    /* padding: 50px; */
}

input[type=text], select, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: rgb(0, 0, 0);
    width: 50%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .menu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100% !important;
  }
  
  .menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .menu img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 6px;
    width: 2.5%;
}
  
  .menu a:hover {
    background: #ddd;
    color: black;
  }

  li{
    margin: 7px 0;
  }

  img {
      width: 50%;
  }

  h1 {
      text-align: center;
  }